# Auto detect text files and perform LF normalization
* text=auto

# Linguist overrides
Bookmarks[[:space:]]and[[:space:]]Hyperlinks/BookmarksandHyperlinksVb/My[[:space:]]Project/*.vb linguist-generated=true
