<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <!--
      If you get an "Execution permission cannot be acquired." error because of:
        [FileLoadException: Could not load file or assembly 'Microsoft.VisualStudio.Web.PageInspector.Runtime]
      Then check: https://stackoverflow.com/a/23274406/2699178
    -->
    <trust level="Medium"/>
  </system.web>
</configuration>