@model DocumentCore.Controllers.InvoiceModel

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Create a Word document or PDF file</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body { padding: 20px; font-size: 0.9rem; }
        .col-form-label { font-weight: bold; }
        input.form-control, select.form-control { font-size: 0.9rem; }
        .form-group > label:after { content: ": "; }
    </style>
</head>
<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label asp-for="Number" class="col-md-2 col-sm-3 col-form-label"></label>
            <div class="col-md-5 col-sm-7">
                <input asp-for="Number" type="number" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Date" class="col-md-2 col-sm-3 col-form-label"></label>
            <div class="col-md-5 col-sm-7">
                <input asp-for="Date" type="date" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Company" class="col-md-2 col-sm-3 col-form-label"></label>
            <div class="col-md-5 col-sm-7">
                <input asp-for="Company" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Address" class="col-md-2 col-sm-3 col-form-label"></label>
            <div class="col-md-5 col-sm-7">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Country" class="col-md-2 col-sm-3 col-form-label"></label>
            <div class="col-md-5 col-sm-7">
                @Html.DropDownListFor(m => m.Country, Model.Countries, null, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="FullName" class="col-md-2 col-sm-3 col-form-label"></label>
            <div class="col-md-5 col-sm-7">
                <input asp-for="FullName" class="form-control" />
            </div>
        </div>
        <hr />
        <div>
            <h4>Output format:</h4>
            <div class="form-check">
                <input id="PDF" name="SelectedFormat" type="radio" class="form-check-input" value="PDF" />
                <label for="PDF" class="form-check-label">PDF</label>
            </div>
            <div class="form-check">
                <input id="DOCX" name="SelectedFormat" type="radio" class="form-check-input" checked value="DOCX" />
                <label for="DOCX" class="form-check-label">DOCX</label>
            </div>
            <div class="form-check">
                <input id="HTML" name="SelectedFormat" type="radio" class="form-check-input" value="HTML" />
                <label for="HTML" class="form-check-label">HTML</label>
            </div>
            <div class="form-check">
                <input id="RTF" name="SelectedFormat" type="radio" class="form-check-input" value="RTF" />
                <label for="RTF" class="form-check-label">RTF</label>
            </div>
            <div class="form-check">
                <input id="XML" name="SelectedFormat" type="radio" class="form-check-input" value="XML" />
                <label for="XML" class="form-check-label">XML</label>
            </div>
            <div class="form-check">
                <input id="TXT" name="SelectedFormat" type="radio" class="form-check-input" value="TXT" />
                <label for="TXT" class="form-check-label">TXT</label>
            </div>
            <fieldset disabled>
                <div class="form-check">
                    <input id="XPS" name="SelectedFormat" type="radio" class="form-check-input" value="XPS" />
                    <label for="XPS" class="form-check-label">XPS</label>
                </div>
                <div class="form-check">
                    <input id="PNG" name="SelectedFormat" type="radio" class="form-check-input" value="PNG" />
                    <label for="PNG" class="form-check-label">PNG</label>
                </div>
                <div class="form-check">
                    <input id="JPG" name="SelectedFormat" type="radio" class="form-check-input" value="JPG" />
                    <label for="JPG" class="form-check-label">JPG</label>
                </div>
                <div class="form-check">
                    <input id="GIF" name="SelectedFormat" type="radio" class="form-check-input" value="GIF" />
                    <label for="GIF" class="form-check-label">GIF</label>
                </div>
                <div class="form-check">
                    <input id="TIF" name="SelectedFormat" type="radio" class="form-check-input" value="TIF" />
                    <label for="TIF" class="form-check-label">TIF</label>
                </div>
                <div class="form-check">
                    <input id="BMP" name="SelectedFormat" type="radio" class="form-check-input" value="BMP" />
                    <label for="BMP" class="form-check-label">BMP</label>
                </div>
                <div class="form-check">
                    <input id="WMP" name="SelectedFormat" type="radio" class="form-check-input" value="WMP" />
                    <label for="WMP" class="form-check-label">WMP</label>
                </div>
            </fieldset>
        </div>
        <hr />
        <button type="submit" class="btn btn-default">Generate</button>
    </form>
</body>
</html>